h2 {
  text-align: center;
  color: pink;
  text-shadow: violet 2px 2px;
  font-size: 50px;
}
#chayanne {
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  filter: grayscale(100%) drop-shadow(15px 15px grey);
}

p {
  text-align: center;
  color: ;
  font-size: 20px;
}
