#título {
  text-shadow: 3px 3px lightpink;
}
#linea1 {
  background-color: yellow;
}
#linea2 {
  color: darkgreen;
}
.linea3y4 {
  background-color: black;
  color: white;
}
.linea5y6 {
}
